*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2; }

input[type="text"],
input[type="checkbox"] {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: inherit; }

input[type="checkbox"] {
  width: 0;
  height: 0; }

input[type="date"]::-webkit-clear-button {
  display: none; }

.content {
  display: flex;
  flex-direction: column; }

.fa-plus {
  transition: 0.5s;
  transform: rotate(0deg); }

.is-close {
  display: none; }

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .filter .filter-tags {
    flex: 0 0 auto;
    padding: 2px 14px;
    border: 1px solid #000;
    border-radius: 100px;
    margin-bottom: 6px;
    margin-right: 10px; }
    .filter .filter-tags label {
      cursor: pointer; }
    .filter .filter-tags + .filter-tags {
      margin-right: 10px; }

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 6px 16px;
  border-radius: 4px;
  background-color: #EBEBEB; }
  .breadcrumb-list .breadcrumb-item {
    display: flex;
    align-items: center;
    color: #7828B4; }
    .breadcrumb-list .breadcrumb-item a {
      padding: 6px; }
    .breadcrumb-list .breadcrumb-item-btn {
      cursor: pointer;
      white-space: nowrap;
      text-decoration: none; }
    .breadcrumb-list .breadcrumb-item + .breadcrumb-item::before {
      content: "/";
      padding: 0 6px; }
    .breadcrumb-list .breadcrumb-item:last-child {
      color: #000; }
      .breadcrumb-list .breadcrumb-item:last-child .breadcrumb-item-btn {
        cursor: default;
        color: #000;
        text-decoration: none; }

.headder {
  display: flex;
  flex-direction: row;
  background-color: #7828B4; }
  .headder__left {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    padding-left: 38px;
    width: 338px; }
    .headder__left .logo {
      padding: 30px 24px; }
      .headder__left .logo svg {
        display: flex; }
  .headder__right {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding-left: 42px; }
    .headder__right .search-bar {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: inherit;
      max-width: 400px;
      font-size: 20px;
      color: #fff; }
      .headder__right .search-bar i {
        display: flex;
        align-items: center;
        margin-right: 6px;
        font-size: 20px;
        color: inherit; }
      .headder__right .search-bar input {
        font-size: 20px;
        color: #fff; }
        .headder__right .search-bar input::placeholder {
          align-items: center;
          padding: 5px;
          font-size: 20px;
          font-style: italic;
          color: rgba(255, 255, 255, 0.5); }
      .headder__right .search-bar::before {
        content: "";
        position: absolute;
        width: 120%;
        height: 1px;
        background-color: #fff;
        top: 25px; }

.wrap {
  display: flex;
  flex-direction: row;
  align-items: stretch; }
  .wrap .result {
    width: 65%; }

.sidebar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 38px; }
  .sidebar .container {
    flex: 0 0 auto;
    width: 300px;
    padding: 24px 24px;
    border-bottom: 2px solid #d7d7d7;
    background-color: #EBEBEB; }
    .sidebar .container:last-child {
      border: none; }
    .sidebar .container .sidebar-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 14px;
      color: #000; }
      .sidebar .container .sidebar-title span {
        color: inherit; }
      .sidebar .container .sidebar-title i {
        display: none;
        font-size: 20px;
        color: #9b9b9b; }

.sidebar__location .content {
  display: block; }

.sidebar__location.is-open .fa-plus {
  transition: 0.5s;
  transform: rotate(45deg); }

.sidebar__location.is-open .content {
  display: block; }

.sidebar__location .dropdown {
  position: relative; }
  .sidebar__location .dropdown a {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 14px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer; }
    .sidebar__location .dropdown a i {
      display: flex;
      align-items: center; }
  .sidebar__location .dropdown.is-open .dropdown-btn i {
    transform: rotate(180deg); }
  .sidebar__location .dropdown.is-open .dropdown-container {
    display: block; }
  .sidebar__location .dropdown-container {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 2px;
    width: 100%;
    z-index: 99; }
  .sidebar__location .dropdown-list {
    display: flex;
    flex-direction: column; }
  .sidebar__location .dropdown-item {
    background-color: #fff; }
    .sidebar__location .dropdown-item .btn {
      transition: 0.1s; }
      .sidebar__location .dropdown-item .btn:hover {
        background-color: #9013FE;
        color: #fff; }
    .sidebar__location .dropdown-item:first-child {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px; }
    .sidebar__location .dropdown-item:last-child {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px; }

.sidebar__date .content {
  display: block; }

.sidebar__date.is-open .fa-plus {
  transition: 0.5s;
  transform: rotate(45deg); }

.sidebar__date.is-open .content {
  display: block; }

.sidebar__date .select {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .sidebar__date .select + .select {
    margin-top: 6px; }
  .sidebar__date .select span {
    flex: 0 0 auto;
    padding-right: 10px; }
  .sidebar__date .select input {
    flex: 0 0 auto;
    width: 80%;
    height: 100%;
    padding: 10px 14px; }

.sidebar__categories .content {
  display: block; }

.sidebar__categories.is-open .fa-plus {
  transition: 0.5s;
  transform: rotate(45deg); }

.sidebar__categories.is-open .content {
  display: block; }

.sidebar__categories .filter {
  flex-direction: column; }
  .sidebar__categories .filter .filter-tags {
    border: none; }
    .sidebar__categories .filter .filter-tags + .filter-tags {
      margin-left: 0;
      margin-top: 6px; }
    .sidebar__categories .filter .filter-tags:last-child {
      margin-bottom: 0; }
    .sidebar__categories .filter .filter-tags label {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
  .sidebar__categories .filter i {
    color: #fff;
    margin-right: 6px; }
  .sidebar__categories .filter input:checked ~ i::before {
    content: "\f14a";
    color: #7828B4; }

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 24px 42px;
  background-color: #f2f2f2; }
  .main__headder {
    margin-bottom: 24px; }

.main-result .result-title {
  margin-bottom: 8px;
  font-size: 24px;
  color: #000; }
  .main-result .result-title span {
    color: #7828B4;
    padding: 0 8px; }

.main-result .filter {
  flex-direction: row; }
  .main-result .filter .filter-tags {
    border-color: #7828B4;
    color: #7828B4;
    cursor: pointer; }
    .main-result .filter .filter-tags:hover {
      color: #fff;
      background-color: #7828B4; }

.main__body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.product-list a {
  text-decoration: none;
  color: #000; }

.product-item {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  transition: 0.2s; }
  .product-item:hover {
    box-shadow: 2px 5px 10px #888888; }
  .product-item + .product-item {
    margin-top: 24px; }
  .product-item .product-img {
    flex: 1 1 auto;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center; }
  .product-item .product-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 24px 50px;
    background-color: #fff; }
    .product-item .product-content .product-title {
      flex: 0 1 auto;
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 27px;
      color: #7828B4; }
    .product-item .product-content .product-sort {
      align-items: flex-start; }
    .product-item .product-content .product-date {
      display: flex;
      flex-direction: row; }
    .product-item .product-content .product-info {
      display: flex;
      flex-direction: row; }
      .product-item .product-content .product-info .product-info__item {
        margin-right: 20px; }
        .product-item .product-content .product-info .product-info__item span {
          color: #9b9b9b; }
    .product-item .product-content .product-article {
      margin-top: 24px; }

.product-item-mini {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  transition: 0.2s;
  min-height: 220px;
  background-color: #fff; }
  .product-item-mini:hover {
    box-shadow: 2px 5px 10px #888888; }
  .product-item-mini .product-img {
    flex: 0 0 auto;
    width: 220px;
    min-height: 220px;
    background-size: cover;
    background-position: center; }
  .product-item-mini + .product-item-mini {
    margin-top: 24px; }
  .product-item-mini .product-content {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
    background-color: #fff; }
    .product-item-mini .product-content .product-title {
      flex: 0 1 auto;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 6px;
      color: #7828B4; }
    .product-item-mini .product-content .product-sort {
      margin: 8px 0;
      flex-wrap: wrap; }
      .product-item-mini .product-content .product-sort-maker {
        font-weight: bold;
        white-space: nowrap;
        margin-right: 10px;
        margin-bottom: 6px;
        color: #000; }
    .product-item-mini .product-content .product-text {
      flex: 0 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 8px 0;
      height: 50px; }
      .product-item-mini .product-content .product-text p:first-child {
        margin-top: 0; }
    .product-item-mini .product-content .product-info {
      flex: 0 1 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap; }
      .product-item-mini .product-content .product-info .product-info__item {
        display: flex;
        align-items: center;
        line-height: 1;
        align-items: baseline;
        padding: 6px 0;
        padding-right: 20px; }
        .product-item-mini .product-content .product-info .product-info__item i {
          padding-right: 6px; }
        .product-item-mini .product-content .product-info .product-info__item span {
          line-height: 1;
          padding: 0;
          color: #9b9b9b; }

.product-sort {
  flex: 0 1 auto;
  display: flex;
  margin-bottom: 16px; }
  .product-sort-maker {
    font-weight: bold;
    margin-right: 20px;
    white-space: nowrap;
    color: #000; }
  .product-sort .filter-tags {
    cursor: default;
    padding: 0 10px;
    border: none;
    background-color: #d7d7d7;
    color: #fff; }
    .product-sort .filter-tags label {
      cursor: inherit; }

.main__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px; }
  .main__footer .page-nav {
    display: flex; }
    .main__footer .page-nav-btn {
      flex: 0 0 auto;
      line-height: 1;
      text-align: center;
      width: 46px;
      padding: 16px;
      color: #7828B4;
      background-color: #fff;
      cursor: pointer; }
      .main__footer .page-nav-btn:hover {
        color: #fff;
        background-color: #7828B4; }
      .main__footer .page-nav-btn + .page-nav-btn {
        margin-left: 2px; }

@media screen and (max-width: 1200px) {
  .product-item .product-img {
    height: 400px; } }

@media screen and (max-width: 1025px) {
  .headder__left {
    width: 238px;
    padding-left: 0; }
  .sidebar {
    width: 238px;
    padding-left: 0; }
    .sidebar .container {
      width: 238px; }
    .sidebar__date .select {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .sidebar__date .select input[type="date"] {
        width: 100%; }
  .product-sort {
    flex-wrap: wrap; } }

@media screen and (max-width: 860px) {
  .breadcrumb-list {
    padding: 0 6px; }
    .breadcrumb-list-item {
      padding: 4px 0; }
  .filter-tags {
    margin-bottom: 6px; }
  .product-item .product-img {
    height: 350px; }
  .product-item .product-content {
    padding: 24px 40px; }
    .product-item .product-content .product-title {
      font-size: 24px; }
    .product-item .product-content .product-sort-maker {
      margin-bottom: 6px; }
    .product-item .product-content .product-info {
      flex-direction: column; }
      .product-item .product-content .product-info .product-info__item + .product-info__item {
        margin-top: 10px; }
  .product-item-mini {
    flex-direction: column; }
    .product-item-mini .product-content .product-title {
      font-size: 22px; }
    .product-item-mini .product-content .product-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
    .product-item-mini .product-img {
      width: 100%; }
  .product-sort {
    flex-wrap: wrap; }
  .product-info {
    flex-direction: column;
    align-items: flex-start; }
  .filter-tags-wrap {
    display: flex;
    flex-wrap: wrap; }
  .main__footer {
    justify-content: center; } }

@media screen and (max-width: 680px) {
  .headder {
    flex-direction: row;
    justify-content: space-between; }
    .headder__left {
      flex: 0 1 auto; }
      .headder__left .logo {
        padding: 24px 36px; }
    .headder__right {
      flex: 0 1 auto;
      color: #fff; }
      .headder__right .search-bar i {
        padding: 24px 36px;
        font-size: 24px;
        cursor: pointer; }
      .headder__right .search-bar::before {
        display: none; }
      .headder__right .search-bar input {
        display: none; }
  .wrap {
    flex-direction: column; }
    .wrap .sidebar {
      width: 100%; }
      .wrap .sidebar .sidebar-title {
        margin: 0;
        cursor: pointer; }
        .wrap .sidebar .sidebar-title i {
          display: block;
          color: #9B9B9B; }
      .wrap .sidebar__date .select {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        .wrap .sidebar__date .select span {
          width: 60px;
          text-align: right; }
        .wrap .sidebar__date .select input {
          flex: 1 1 auto; }
      .wrap .sidebar__categories .fa-plus {
        transition: 1s; }
      .wrap .sidebar__categories.is-open .fa-plus {
        transform: rotate(1035deg); }
      .wrap .sidebar .container {
        width: 100%;
        padding: 18px 80px;
        background-color: #d7d7d7;
        border-bottom: 1px solid #9B9B9B; }
        .wrap .sidebar .container .content {
          display: none; }
        .wrap .sidebar .container.is-open .sidebar-title {
          margin-bottom: 14px; }
        .wrap .sidebar .container.is-open .content {
          display: block; }
        .wrap .sidebar .container .filter {
          flex-direction: row;
          justify-content: space-between; }
          .wrap .sidebar .container .filter .filter-tags {
            border-radius: 0;
            padding: 0;
            margin: 0; }
            .wrap .sidebar .container .filter .filter-tags label {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding: 10px 20px; }
        .wrap .sidebar .container.is-open {
          background-color: #EBEBEB; }
  .product-item .product-content .product-title {
    font-size: 20px; }
  .product-item .product-content .product-info {
    flex-direction: column; } }

@media screen and (max-width: 480px) {
  .headder {
    flex-direction: column; }
    .headder__left {
      width: 100%; }
      .headder__left .logo {
        margin: auto;
        padding: 24px; }
    .headder__right {
      justify-content: center;
      width: 100%;
      padding: 0 48px; }
      .headder__right label {
        padding: 16px 0;
        color: #000; }
        .headder__right label::before {
          width: 100%;
          top: 40px;
          background-color: #000; }
        .headder__right label input {
          color: #000; }
          .headder__right label input::placeholder {
            color: rgba(88, 88, 88, 0.5); }
  .wrap {
    flex-direction: column; }
    .wrap .sidebar {
      width: 100%; }
      .wrap .sidebar .container {
        width: 100%;
        padding: 14px 48px; }
        .wrap .sidebar .container .filter-tags {
          padding: 2px 0; }
    .wrap .main {
      padding: 24px 0; }
    .wrap .breadcrumb {
      padding: 0 12px; }
  .product-item .product-content .product-title {
    font-size: 20px; } }
