// Colors
// ----------------------------
$primary-color: #7828B4;
$secondary-color: #9013FE;
$background: #f2f2f2;

// sidebar
$sidebar-bg: #EBEBEB;
$container-border: #d7d7d7;
$breadcrumb-bg: #EBEBEB;

// Product
$product-tags-bg: #d7d7d7;
$product-info-color: #9b9b9b;

// Other
$white: #fff;
$black: #000;



// Font Size
// ----------------------------
$sidebar-title: 1.2rem;
$sidebar-text: 1rem;



// Settings
// ----------------------------
*,*::before,*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: $background;
}

input[type="text"],
input[type="checkbox"] {
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: inherit;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
}

// 移除叉號樣式
input[type="date"]::-webkit-clear-button{
    display:none;
}

.content {
    display: flex;
    flex-direction: column;
}

.fa-plus {
    transition: 0.5s;
    transform: rotate(0deg);
}

.is-close {
    display: none;
}


// 元件 Components
// ----------------------------
// 篩選器 filter-row
.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .filter-tags {
        flex: 0 0 auto;
        padding: 2px 14px;
        border: 1px solid #000;
        border-radius: 100px;
        margin-bottom: 6px;
        margin-right: 10px;
        
        label { cursor: pointer; }

        + .filter-tags {
            margin-right: 10px;
        }
    }
}

// 麵包屑 Breadcrumb
.breadcrumb-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 6px 16px;
    border-radius: 4px;
    background-color: $breadcrumb-bg;

    .breadcrumb-item {
        display: flex;
        align-items: center;
        color: $primary-color;

        a { 
            padding: 6px;
        }

        // .breadcrumb-item-btn
        &-btn {
            cursor: pointer;
            white-space:nowrap;
            text-decoration: none;
        }
        
        + .breadcrumb-item {
            &::before {
                content:"/";
                padding: 0 6px;
            }
        }

        &:last-child {
            color: #000;

            .breadcrumb-item-btn {
                cursor: default;
                color: #000;
                text-decoration: none;
            }
        }
    }
}



// Headder
// ----------------------------
.headder {
    display: flex;
    flex-direction: row;
    background-color: $primary-color;

    // .headder__left
    &__left {
        flex: 0 0 auto;
        display: flex;
        justify-content: flex-start;
        padding-left: 38px;
        width: 338px;

        .logo {
            padding: 30px 24px;
            svg { display: flex; }
        }
    }

    // .headder__right
    &__right {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        padding-left: 42px;

        .search-bar {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: inherit;
            max-width: 400px;
            font-size: 20px;
            color: #fff;

            i { 
                display: flex;
                align-items: center;
                margin-right: 6px;
                font-size: 20px;
                color: inherit; 
            }

            input {
                font-size: 20px;
                color: #fff;

                &::placeholder {
                    align-items: center;
                    padding: 5px;
                    font-size: 20px;
                    font-style: italic;
                    color:  rgba(255,255,255,0.50);
                }
            }

            

            // label::before
            &::before {
                content: "";
                position: absolute;
                width: 120%;
                height: 1px;
                background-color: #fff;
                top: 25px;
            }
        }
    }
}



// Wrap
// ----------------------------
.wrap {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    // .result
    .result {
        width: 65%;
    }
}



// Sidebar
// ----------------------------
.sidebar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 38px;

    .container {
        flex: 0 0 auto;
        width: 300px;
        padding: 24px 24px;
        border-bottom: 2px solid $container-border;
        background-color: $sidebar-bg;

        &:last-child {
            border: none;
        }

        .sidebar-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: $sidebar-title;
            font-weight: bold;
            margin-bottom: 14px;
            color: #000;

            span {
                color: inherit;
            }

            i {
                display: none;
                font-size: 20px;
                color: #9b9b9b;
            }
        }
    }
}



// Sidebar Location
// ----------------------------
.sidebar__location {

    .content {
        display: block;
    }

    &.is-open {

        .fa-plus {
            transition: 0.5s;
            transform: rotate(45deg);
        }

        .content {
            display: block;
        }
    }

    .dropdown {
        position: relative;

        a {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding: 10px 14px;
            background-color: #fff;
            border-radius: 6px;
            cursor: pointer;

            i{
                display: flex;
                align-items: center;
            }
        }

        // .dropdown.is-open
        &.is-open {

            .dropdown-btn {
                i {
                    transform: rotate(180deg);
                }
            }

            .dropdown-container {
                display: block;
            }
        }

        // .dropdown-container
        &-container { 
            display: none;
            position: absolute;
            top: 100%;
            margin-top: 2px;
            width: 100%;
            z-index: 99;
        }

        // .dropdown-list
        &-list {
            display: flex;
            flex-direction: column;
        }

        // .dropdown-item 
        &-item {
            background-color: $white;

            .btn {
                transition: 0.1s;

                // .btn:hover
                &:hover {
                    background-color: #9013FE;
                    color: #fff;
                }
            }

            // .dropdown-item:first-child
            &:first-child {
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }

            // .dropdown-item:last-child
            &:last-child {
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
    }
}



// Sidebar__Date
// ----------------------------
.sidebar__date {

    .content {
        display: block;
    }

    &.is-open {

        .fa-plus {
            transition: 0.5s;
            transform: rotate(45deg);
        }

        .content {
            display: block;
        }
    }

    .select {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        + .select {
            margin-top: 6px;
        }

        span {
            flex: 0 0 auto;
            padding-right: 10px;
        }

        input {
            flex: 0 0 auto;
            width: 80%;
            height: 100%;
            padding: 10px 14px;
        }
    }
}



// Sidebar__Categories
// ----------------------------
.sidebar__categories {
    
    .content {
        display: block;
    }

    &.is-open {

        .fa-plus {
            transition: 0.5s;
            transform: rotate(45deg);
        }

        .content {
            display: block;
        }
    }

    .filter {
        flex-direction: column;

        .filter-tags {
            border: none;

            + .filter-tags { 
                margin-left: 0;
                margin-top: 6px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            label {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }

        i {
            color: #fff;
            margin-right: 6px;
        }

        input:checked ~ i::before {
            content: "\f14a";
            color: $primary-color;
        }
    }
}



// Main
// ----------------------------
.main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 24px 42px;
    background-color: $background;

    &__headder {
        margin-bottom: 24px;
    }
}



// Main-Result
// ----------------------------
.main-result {

    .result-title {
        margin-bottom: 8px;
        font-size: 24px;
        color: #000;

        span {
            color: $primary-color;
            padding: 0 8px;
        }
    }

    .filter {
        flex-direction: row;

        .filter-tags {
            border-color: $primary-color;
            color: $primary-color;
            cursor: pointer;

            // .filter-tags:hover
            &:hover {
                color: #fff;
                background-color: $primary-color;
            }
        }
    }
}



// Main__Body
// ----------------------------
.main__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


// product-list & product-item

.product-list {
    a {
        text-decoration: none;
        color: #000;
    }
}

.product-item {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    transition: 0.2s;

    &:hover {
        box-shadow: 2px 5px 10px #888888;
    }

    + .product-item {
        margin-top: 24px;
    }

    .product-img {
        flex: 1 1 auto;
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center;
    }

    .product-content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 24px 50px;
        background-color: $white;

        .product-title {
            flex: 0 1 auto;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 27px;
            color: $primary-color;
        }

        .product-sort {
            align-items: flex-start;
        }

        .product-date {
            display: flex;
            flex-direction: row;
        }

        .product-info {
            display: flex;
            flex-direction: row;

            .product-info__item {
                margin-right: 20px;

                span {
                    color: #9b9b9b;
                }
            }
        }

        .product-article {
            margin-top: 24px;
        }
    }
}


// .product-item-mini
.product-item-mini {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
    min-height: 220px;
    background-color: #fff;

    &:hover {
        box-shadow: 2px 5px 10px #888888;
    }

    .product-img {
        flex: 0 0 auto;
        width: 220px;
        min-height: 220px;
        background-size: cover;
        background-position: center;
    }

    + .product-item-mini {
        margin-top: 24px;
    }

    .product-content {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        padding: 12px 24px;
        background-color: $white;

        .product-title {
            flex: 0 1 auto;
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 6px;
            color: $primary-color;
        }

        .product-sort {
            margin: 8px 0;
            flex-wrap: wrap;

            // .product-sort-maker
            &-maker {
                font-weight: bold;
                white-space: nowrap;
                margin-right: 10px;
                margin-bottom: 6px;
                color: $black;
            }
        }
    
        .product-text {
            flex: 0 1 auto;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 8px 0;
            height: 50px;
            
            p:first-child {
                margin-top: 0;
            }
        }

        .product-info {
            flex: 0 1 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            .product-info__item {
                display: flex;
                align-items: center;
                line-height: 1;
                align-items: baseline;
                padding: 6px 0;
                padding-right: 20px;
        
                i {
                    padding-right: 6px;
                }
        
                span {
                    line-height: 1;
                    padding: 0;
                    color: #9b9b9b;
                }
            }
        }
        
    }
}



// product-sort
// ----------------------------
.product-sort {
    flex: 0 1 auto;
    display: flex;
    margin-bottom: 16px;
    
    // .product-sort-maker
    &-maker {
        font-weight: bold;
        margin-right: 20px;
        white-space: nowrap;
        color: $black;
    }

    .filter-tags {
        cursor: default;
        padding: 0 10px;
        border: none;
        background-color: #d7d7d7;
        color: #fff;

        label { cursor: inherit; }
    }
}



// Main__Footer
// ----------------------------
.main__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;

    .page-nav {
        display: flex;

        // .page-nav-btn
        &-btn {
            flex: 0 0 auto;
            line-height: 1;
            text-align: center;
            width: 46px;
            padding: 16px;
            color: $primary-color;
            background-color: #fff;
            cursor: pointer;

            &:hover {
                color: #fff;
                background-color: $primary-color;
            }

            + .page-nav-btn {
                margin-left: 2px;
            }
        }
    }
}




// ----------------------------
// RWD 
// ----------------------------
// 小於 1200px 
@media screen and (max-width: 1200px) {
    .product-item {
        .product-img {
            height: 400px;
        }
    }
}

// 小於 1025px
@media screen and (max-width: 1025px) {

    .headder__left {
        width: 238px;
        padding-left: 0;
    }

    .sidebar {
        width: 238px;
        padding-left: 0;

        .container {
            width: 238px;
        }

        // .sidebar__date
        &__date {
            
            .select {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                input[type="date"] {
                    width: 100%;
                }
            }
        }
    }

    .product-sort {
        flex-wrap: wrap;
    }
}



// 小於 860px
@media screen and (max-width: 860px) {

    .breadcrumb-list {
        padding: 0 6px;

        &-item {
            padding: 4px 0;
        }
    }


    .filter-tags {
        margin-bottom: 6px;
    }

    
    .product-item {

        .product-img {
            height: 350px;
        }

        .product-content {
            padding: 24px 40px;

            .product-title {
                font-size: 24px; 
            }

            .product-sort-maker {
                margin-bottom: 6px;
            }

            .product-info {
                flex-direction: column;

                .product-info__item + .product-info__item {
                    margin-top: 10px;
                }
            }
        }
    }
    

    .product-item-mini {
        flex-direction: column;

        .product-content {

            .product-title {
                font-size: 22px;
            }

            .product-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .product-img {
            width: 100%;
        } 
    }
    

    .product-sort {
        flex-wrap: wrap;
    }

    .product-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-tags-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    .main__footer {
        justify-content: center;
    }
}



// 小於 680px
@media screen and (max-width: 680px) {
    .headder {
        flex-direction: row;
        justify-content: space-between;

        &__left {
            flex: 0 1 auto;
            
            .logo {
                padding: 24px 36px;
            }
        }

        &__right {
            flex: 0 1 auto;
            color: #fff;

            .search-bar { 

                i {
                    padding: 24px 36px;
                    font-size: 24px;
                    cursor: pointer;
                }

                &::before {
                    display: none;
                }

                input {
                    display: none;
                }
            }
        }
    }

    .wrap {
        flex-direction: column;

        .sidebar {
            width: 100%;

            .sidebar-title {
                margin: 0;
                cursor: pointer;

                i {
                    display: block;
                    color: #9B9B9B;
                }
            }

            // .sidebar__date 
            &__date {

                .select {
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    span {
                        width: 60px;
                        text-align: right;
                    }

                    input {
                        flex: 1 1 auto;
                    }
                }
            }

            // SURPRISE !!!
            &__categories {
                .fa-plus {
                    transition: 1s;
                }

                &.is-open {
                    .fa-plus {
                        transform: rotate(1035deg);
                    }
                }
            }

            .container {
                width: 100%;
                padding: 18px 80px;
                background-color: #d7d7d7;
                border-bottom: 1px solid #9B9B9B;

                .content {
                    display: none;
                }

                // .container.is-open
                &.is-open {

                    .sidebar-title {
                        margin-bottom: 14px;
                    }

                    .content {
                        display: block;
                    }

                }
                
                .filter {
                    flex-direction: row;
                    justify-content: space-between;

                    .filter-tags {
                        border-radius: 0;
                        padding: 0;
                        margin: 0;

                        label {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            padding: 10px 20px;
                        }
                    }
                }
                
                &.is-open {
                    background-color: #EBEBEB;
                }
            }
        }
    }

    .product-item .product-content {

        .product-title {
            font-size: 20px; 
        }

        .product-info {
            flex-direction: column;
        }
    }
}







// 小於 480px
@media screen and (max-width: 480px) {

    .headder {
        flex-direction: column;

        &__left {
            width: 100%;
            
            .logo {
                margin: auto;
                padding: 24px;
            }
        }

        &__right {
            justify-content: center;
            width: 100%;
            padding: 0 48px;

            label { 
                padding: 16px 0; 
                color: #000;

                &::before {
                    width: 100%;
                    top: 40px;
                    background-color: #000;
                }

                input {
                    color: #000;

                    &::placeholder {
                        color: rgba(88, 88, 88, 0.5);
                    }
                }
            }
        }
    }

    .wrap {
        flex-direction: column;

        .sidebar {
            width: 100%;

            .container {
                width: 100%;
                padding: 14px 48px;
                
                .filter-tags {
                    padding: 2px 0;
                }
            }
        }

        .main {
            padding: 24px 0;
        }

        .breadcrumb {
            padding: 0 12px;
        }
    }

    .product-item .product-content {

        .product-title {
            font-size: 20px; 
        }
    }
}



